<?xml version="1.0" encoding="UTF-8"?>
<DeadZone>50</DeadZone>
<FrameSkip>0</FrameSkip>
<RunBootrom>0</RunBootrom>
<Fullscreen>0</Fullscreen>
<WindowX>320</WindowX>
<WindowY>288</WindowY>
<Bindings>
    <EXIT>Escape</EXIT>
    <START>A</START>
    <SELECT>S</SELECT>
    <A>X</A>
    <B>Z</B>
    <DPAD_UP>Up</DPAD_UP>
    <DPAD_DOWN>Down</DPAD_DOWN>
    <DPAD_LEFT>Left</DPAD_LEFT>
    <DPAD_RIGHT>Right</DPAD_RIGHT>
    <INCREASE_FRAMESKIP>F10</INCREASE_FRAMESKIP>
    <DECREASE_FRAMESKIP>F9</DECREASE_FRAMESKIP>
    <INCREASE_VOLUME>Equal</INCREASE_VOLUME>
    <DECREASE_VOLUME>Hyphen</DECREASE_VOLUME>
    <CHANNEL_1>F1</CHANNEL_1>
    <CHANNEL_2>F2</CHANNEL_2>
    <CHANNEL_3>F3</CHANNEL_3>
    <SPEED_UP>RBracket</SPEED_UP>
    <SPEED_DOWN>LBracket</SPEED_DOWN>
    <SAVESTATE_1>Num1</SAVESTATE_1>
    <SAVESTATE_2>Num2</SAVESTATE_2>
    <SAVESTATE_3>Num3</SAVESTATE_3>
    <SAVESTATE_4>Num4</SAVESTATE_4>
    <SAVESTATE_5>Num5</SAVESTATE_5>
    <SAVESTATE_6>Num6</SAVESTATE_6>
    <SAVESTATE_7>Num7</SAVESTATE_7>
    <SAVESTATE_8>Num8</SAVESTATE_8>
    <SAVESTATE_9>Num9</SAVESTATE_9>
    <SAVESTATE_0>Num0</SAVESTATE_0>
    <LOAD_SAVESTATE>F5</LOAD_SAVESTATE>
    <SAVE_SAVESTATE>F6</SAVE_SAVESTATE>
</Bindings>
